
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Web IM</title>
    <link href="~/Content/webim.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div>
        <div id="limitcode-webim" class="limitcode-webim-box">
            <div class="widget-btn-kefu" v-show="displayKefuBtn">
                <a  href="javascript:;" v-on:click="toggleWindow">
                    <div class="widget-kefu-png"></div>
                    <span>{{kefuDescribe}}</span>
                </a>
            </div>

            <div class="widget-window" v-show="displayKefuBtn">
                <div class="widget-window-head">
                    机器人萌萌
                    <a href="javascript:;" class="head-close"></a>
                    <a href="javascript:;" class="head-minimize"></a>
                </div>
                <div class="widget-window-record">
                    <div class="window-record-historymsg">
                        <span>查看历史消息</span>
                    </div>

                </div>
                <div class="widget-window-msgputbox">
                    <div class="msgputbox-content">
                        <pre class="pre-content" contenteditable="true" placeholder="请输入内容..."></pre>
                    </div>
                    <div class="msgputbox-btn">
                        <button class="btn-send">发送</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

    <script type="text/javascript">
        var app = new Vue({
            el: '#limitcode-webim',
            data: {
                kefuDescribe: "在线咨询"
                , displayKefuBtn: true
            },
            methods: {
                toggleWindow: function (event) {
                    this.displayKefuBtn = !this.displayKefuBtn;
                }
            }
        })
    </script>

    @*<script type="text/javascript">
        var chat = $.connection.chartHub;
        //连接是否成功的确认函数
        chat.client.connecteResult = function (msg) {
            console.log(msg);
        }

        //开始连接服务器
        $.connection.hub.start()
            .done(function (msg) {
            })
            .fail(function (msg) {
            });

    </script>*@
</body>
</html>
